* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    text-align: center;
}

/* .social a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    text-align: center;
} */

nav {
    background-color: #34495e;
    padding: 12px;
    text-align: right;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.page {
    min-height: calc(100vh - 140px); 
    display: flex;
}

aside {
    width: 22%;
    background-color: #c82525; 
    padding: 20px;
}

main {
    /* width: 78%; */
    padding: 20px;
    display: flex;
    gap: 20px;
    width: 2150px;
    height: 650px;
    /* align-items: left; */
    justify-content: center;
}

.box {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
}

.box img {
    width: 100%;
    margin: 10px 0;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
}

.logo{
    text-align: center;
}